@using JobHub.Web.Helpers;
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="logo-img" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/logo.jpg" width="100" height="100"/>
            </a>
            <a class="site-name" asp-area="" asp-controller="Home" asp-action="Index">
                JobHub</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @if (Context.Request.Cookies["userName"] == null || Context.Request.Cookies["userName"] == string.Empty)
            {
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Увійти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Registration">Зареєструватися</a>
                    </li>
                </ul>
            }
            else
            {
                <div id="user-name" onclick="showUserAccount()">@CryptographyHelper.Decrypt(Context.Request.Cookies["userName"])</div>
            }
        </div>
    </nav>
</header>
<script>
    function showUserAccount() {
        const modal = new ItcModal({
            title: '<div style="display:flex;"><img src="/img/user.png" class="user-img"><div style="display:grid;"><label class="user-name">@CryptographyHelper.Decrypt(Context.Request.Cookies["userName"])</label><label class="user-email">@CryptographyHelper.Decrypt(Context.Request.Cookies["userEmail"])</label></div></div>',
            content: '<div class="user-account-container">' +
                '<ul>' +
                '<li>' + '<img src="/img/resume.png" class="small-img">' + '@Html.ActionLink("Мої резюме", "Resumes", "Account")' + '</li>' +
                '<li>' + '<img src="/img/favorite.png" class="small-img">' + '@Html.ActionLink("Обрані вакансії", "FavoriteVacancies", "Account")' + '</li>' +
                '<li>' + '<img src="/img/change-password.png" class="small-img">' + '@Html.ActionLink("Змінити пароль", "ChangePassword", "Account")' + '</li>' +
                '<li>' + '<img src="/img/logout.png" class="small-img">' + '@Html.ActionLink("Вийти з акаунту", "SignOut", "Auth")' + '</li>' +
                '</ul>' +
                '</div>'
        });
        modal.show();
    }
</script>
