@using JobHub.Web.Helpers;
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="logo-img" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/logo.jpg" width="100" height="100"/>
            </a>
            <a class="site-name" asp-area="" asp-controller="Home" asp-action="Index">
                JobHub</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @if (Context.Request.Cookies["userName"] == null || Context.Request.Cookies["userName"] == string.Empty)
            {
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Увійти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Registration">Зареєструватися</a>
                    </li>
                </ul>
            }
            else
            {
                <div id="user-name" onclick="showUserAccount()">@CryptographyHelper.Decrypt(Context.Request.Cookies["userName"])</div>
            }
        </div>
    </nav>
</header>
<style>
    .site-name {
        text-decoration: none;
        color: black;
        font-size: 40px;
        font-weight: 900;
    }
    .site-name:hover {
        color: black;
    }
    .navbar-nav {
        right: 60px;
        position: absolute;
    }

    .navbar > .container-fluid {
        justify-content: flex-start;
    }

    .itc-modal-scrollable {
        height: auto !important;
    }

    #user-name {
        cursor: pointer;
        right: 60px;
        position: absolute;
        display: flex;
        align-items: end;
        text-decoration: none;
        color: black;
        font-size: 30px;
        font-weight: bold;
    }

    #user-name:hover {
        cursor: pointer;
        text-decoration: none;
    }

    .user-name {
        color: black;
        text-decoration: none;
        font-size: 16px;
        display: flex;
        align-items: end;
    }

    .user-email {
        color: rgba(104,126,136, 1) !important;
        font-weight: 400!important;
        font-size: 16px!important;
        line-height: 20px!important;
    }

    .user-account-container > ul > li {
        list-style: none;
    }

    .user-account-container > ul > li > a {
        color: black;
        text-decoration: none;
        font-size: 22px;
    }

    .itc-modal-btn-close {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .small-img {
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }
    .user-img {
        height: 130px;
        width: 130px;
        margin-right: 10px;
    }
</style>
<script>
    function showUserAccount() {
        const modal = new ItcModal({
            title: '<div style="display:flex;"><img src="/img/user.png" class="user-img"><div style="display:grid;"><label class="user-name">@CryptographyHelper.Decrypt(Context.Request.Cookies["userName"])</label><label class="user-email">@CryptographyHelper.Decrypt(Context.Request.Cookies["userEmail"])</label></div></div>',
            content: '<div class="user-account-container">' +
                '<ul>' +
                '<li>' + '<img src="/img/resume.png" class="small-img">' + '@Html.ActionLink("Мої резюме", "Resumes", "Account")' + '</li>' +
                '<li>' + '<img src="/img/favorite.png" class="small-img">' + '@Html.ActionLink("Обрані вакансії", "FavoriteVacancies", "Account")' + '</li>' +
                '<li>' + '<img src="/img/change-password.png" class="small-img">' + '@Html.ActionLink("Змінити пароль", "ChangePassword", "Account")' + '</li>' +
                '<li>' + '<img src="/img/logout.png" class="small-img">' + '@Html.ActionLink("Вийти з акаунту", "SignOut", "Auth")' + '</li>' +
                '</ul>' +
                '</div>'
        });
        modal.show();
    }
</script>
