@model IEnumerable<VacancyResponseAdminViewModel>

<table class="table table-bordered table-striped table-responses">

    <thead>
        <tr>
            <th>@Resources.Resource.Lable_Name</th>
            <th>@Resources.Resource.Lable_Surname</th>
            <th>@Resources.Resource.Lable_CoverLetter</th>
            <th>@Resources.Resource.Lable_Resume</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FName</td>
                <td>@item.LName</td>
                <td>@item.CoverLetter</td>
                <td>
                    <form asp-controller="Vacancy" asp-action="DownloadResume" asp-area="Admin" method="get">
                        <input type="hidden" name="Id" value="@item.VacancyResponseId" />
                        <input type="hidden" name="FName" value="@item.FName" />
                        <input type="hidden" name="LName" value="@item.LName" />
                        <button type="submit" class="btn btn-info">@Resources.Resource.Button_DownloadResume</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
