@using System.ComponentModel
@using JobHub.Web.Helpers
@model JobHub.Web.Areas.Main.Models.VacancyListModel
@{
    var companyImage = 0;
}
@functions {
    string GetDescription<T>(T id)
    {
        var field = typeof(T).GetField(id.ToString());
        var attribute = (DescriptionAttribute)Attribute.GetCustomAttribute(field, typeof(DescriptionAttribute));
        return attribute.Description;
    }
}
<div class="text-center">
    <ul class="vacancy-list">
        @if (Model.Items.Any())
        {
            @foreach (var item in Model.Items)
            {
                @if (item.IsPublished)
                {
                    <li class="vacancy-item">
                        <div class="container">
                            <a class="vacancy-name" href="@Url.Action("Vacancy", "Info", new { @id = item.ID })">@item.Name</a>
                            <div class="item-container">
                                <div class="company-name">@item.CompanyName</div>
                                @if (item.CompanyLocation != null)
                                {
                                    <div class="company-location">@item.CompanyLocation</div>
                                }
                                @if (companyImage != null)
                                {
                                    <div class="company-image">@companyImage</div>
                                }
                            </div>
                        <div class="item-footer">
                            @if (item.SalaryFrom != null)
                            {
                                if (item.SalaryTo != null)
                                {
                                    <div class="additional-info-item">
                                        @item.SalaryFrom - @item.SalaryTo @GetDescription(item.CurrencyID)
                                    </div>
                                }
                                else
                                {
                                    <div class="additional-info-item">
                                        @item.SalaryFrom @GetDescription(item.CurrencyID)
                                    </div>
                                }
                            }
                            @if (item.EmploymentTypeID != null)
                            {
                                <div class="additional-info-item">
                                    @GetDescription(item.EmploymentTypeID)
                                </div>
                            }
                            <div class="publication-date">@DateTimeConverterHelper.ToString(item.PublicationDate)</div>
                        </div>
                        </div>
                    </li>
                }
            }
        }
    </ul>
</div>