@using System.ComponentModel
@using JobHub.Web.Helpers
@model JobHub.Web.Areas.Main.Models.VacancyModel
@{
    var companyImage = 0;
}
@functions {
    string GetDescription<T>(T id)
    {
        var field = typeof(T).GetField(id.ToString());
        var attribute = (DescriptionAttribute)Attribute.GetCustomAttribute(field, typeof(DescriptionAttribute));
        return attribute.Description;
    }
}
<div class="vacancy-info">
    <div class="vacancy-info-container">
        <div class="vacancy-info-name">
            <h1>@Model.Name</h1>
            @if (companyImage != null)
            {
                <div class="company-image">@companyImage</div>
            }
        </div>

        <div class="vacancy-info-company-name-container">
            <div class="company-name">@Model.CompanyName</div>
            @if (Model.CompanyLocation != null)
            {
                <div class="company-location">@Model.CompanyLocation</div>
            }
            <div class="publication-date">@DateTimeConverterHelper.ToString(Model.PublicationDate)</div>
        </div>

        <div style="display: flex; padding: 10px;">
            @if (Model.SalaryFrom != null)
            {
                if (Model.SalaryTo != null)
                {
                    <div class="additional-info-item">
                        @Model.SalaryFrom - @Model.SalaryTo @GetDescription(Model.CurrencyID)
                    </div>
                }
                else
                {
                    <div class="additional-info-item">
                        @Model.SalaryFrom @GetDescription(Model.CurrencyID)
                    </div>
                }
            }
            @if (Model.EmploymentTypeID != null)
            {
                <div class="additional-info-item">
                    @GetDescription(Model.EmploymentTypeID)
                </div>
            }
        </div>
        <div style="display: flex; padding: 10px;">
            @Model.Description
        </div>

    </div>
</div>